@font-face {
	font-family: 'COD';
	src: url("../fonts/Call of Ops Duty II.otf");
}

h1 {
	font-family: 'COD', sans-serif;
	text-align: center;
	font-size: 28px;
	color: black;
	text-shadow: 2px 2px 4px #7B111F;
}
	